<footer class="page-footer grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <h6><a class="white-text" href="./bots">Projects</a></h6>
                <ul>
                    <li><a class="white-text">Blade</a></li>
                    <li><a class="white-text">IntroQuiz</a></li>
                    <li><a class="white-text">Global Chat</a></li>
                    <li><a class="white-text">DiscordBans</a></li>
                    <li><a class="white-text">Casino</a></li>
                    <li><a class="white-text">Night Crystal</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h6>Relate pages</h6>
                <ul>
                    <li><a class="white-text" href="https://discord.js.org">Discord.js</a></li>
                    <li><a class="white-text" href="https://nodejs.org/ja">Node.js</a></li>
                    <li><a class="white-text" href="https://discordapp.com">Discord</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="left">
                <a href="https://discordapp.com/invite/6DuyES3">
                    <img class="social animation" width="45" src="https://png.icons8.com/material/480/000000/discord-logo.png">
                </a>
                <a href="https://github.com/DJS-JPN">
                    <img class="social animation" width="45" src="https://png.icons8.com/windows/512/000000/github.png">
                </a>
                <a href="https://gitlab.com/DJS-JPN">
                    <img class="social animation" width="45" src="https://png.icons8.com/ios/500/000000/gitlab-filled.png">
                </a>
                <a href="https://plus.google.com/communities/102065506910522266374">
                    <img class="social animation" width="45" src="https://png.icons8.com/ios-glyphs/480/000000/google-plus.png">
                </a>
            </div>
            <p class="right white-text">Organized by InkoHX</a>
        </div>
    </div>
</footer>
