@font-face {
    font-family: "rounded-mgenplus-1p-light";
    src: local("rounded-mgenplus-1p-light"), url("https://djs-jpn.ga/beta/cdn/font/rounded-mgenplus-1p-light.ttf") format("truetype");
    font-display: swap;
}

html {
    overflow-y: scroll;
    font-family: "rounded-mgenplus-1p-light", cursive;
    -webkit-user-select: none;
    user-select: none;
    cursor: wait;
}

p {
    display: inline;
}

.preloader-background {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.preloader-wrapper {
    position: fixed;
}

.loading {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 150%;
    padding-top: 120px;
}

.g-recaptcha {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 150%;
    padding-top: 270px;
}

.continue {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 230px;
}

#totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#totop a {
    text-decoration: none;
    text-align: center;
    display: block;
}

#totop a:hover {
    text-decoration: none;
}

#totop a:hover {
    text-decoration: none;
}

h6 {
    padding-left: 20px;
    padding-bottom: 20px;
}

.content-left {
    display: inline-block;
    text-align: left;
}

#djsjpn {
    padding-left: 30px;
}

#main {
    display: none;
}

.link {
    cursor: pointer;
}

#index-banner {
    height: 100%;
}

#content {
    padding-left: 15%;
}